<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Booking</title>
</head>
<body>
<h1 align="center">Enter Your Booking Details</h1>
{% for c in cars %}
<table border="2" align="center">
    <th colspan="2"></th>
    <tr>
        <td>Car:</td>
        <td>{{ c.car_company }}</td>
    </tr>
    <tr>
        <td>Car Class:</td>
        <td>{{ c.car_class_type }}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{ c.price_per_day }}</td>
    </tr>
    <tr>
        <td>Car Number:</td>
        <td>{{ c.car_number }}</td>
    </tr>
</table>
<form action="" method="post">{% csrf_token %}
    <table border="2" align="center">
        <tr>
            <td>Enter the date of car to take:</td>
            <td><input type="date" name="cardate"></td>
        </tr>
        <tr>
            <td>Enter the car Return date:</td>
            <td><input type="date" name="returndate"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="BOOK"></td>
        </tr>
    </table>
</form>
{% endfor %}
</body>
</html>