{%extends 'base4.html'%}
{%block title%}BOOK CAR {%endblock title%}
{% block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Booking</title>
</head>
<body>
<h1 align="center">Enter Your Booking Details</h1>
<p align="center"><a href='/Car_Booking/BookCar' class='btn btn-outline-dark'>Go Back</a></p>

<table border="2" align="center">
    <th colspan="2">Your SELECTED CAR</th>
    <tr>
        <td>Car:</td>
        <td>{{ cars.car_company }}</td>
    </tr>
    <tr>
        <td>Car Class:</td>
        <td>{{ cars.car_class_type }}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{ cars.price_per_day }}</td>
    </tr>
    <tr>
        <td>Car Number:</td>
        <td>{{ cars.car_number }}</td>
    </tr>
</table>
<br><br>

<table border="2" align="center">
    <form action="/Car_Booking/book/" method="post">{% csrf_token %}
        <input type="hidden" value="{{ cars.car_id }}" name="carid">
        <tr>
            <td>Enter the date of car to take:</td>
            <td><input type="date" name="cardate"></td>
        </tr>
        <tr>
            <td>Enter the car Return date:</td>
            <td><input type="date" name="returndate"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="BOOK"></td>
        </tr>
    </form>
</table>

</body>
</html>
{% endblock body%}