{% extends 'base1.html' %}

{% block title %}Confirm_Booking {% endblock title %}
{% block body %}
<head>
body {
  background-image: url('/static/img/confirm.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
</head>
<table border="2" align="center">
    <th colspan="2">Your SELECTED CAR</th>
    <tr>
        <td>Car:</td>
        <td>{{ cars.car_company }}</td>
    </tr>
    <tr>
        <td>Car Class:</td>
        <td>{{ cars.car_class_type }}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{ cars.price_per_day }}</td>
    </tr>
    <tr>
        <td>Car Number:</td>
        <td>{{ cars.car_number }}</td>
    </tr>
    <tr>
        <td>Car taking date:</td>
        <td>{{ total_amount }}</td>
    </tr>
    <tr>
        <td>Car return date:</td>
        <td>{{ returndate }}</td>
    </tr>
    <tr>
        <td>Total Days:</td>
        <td>{{ total_days }}</td>
    </tr>
    <tr>
        <td>Your total amount:</td>
        <td>{{ total_amount }}</td>
    </tr>
</table>
<form action="/Car_Booking/b/" method="post">{% csrf_token %}
    <input type="hidden" name="carid" value="{{ carid }}">
    <input type="hidden" name="total_days" value="{{ total_days }}">
    <input type="hidden" name="total_amount" value="{{ total_amount }}">
    <input type="hidden" name="cardate" value="{{ cardate }}">
    <input type="hidden" name="returndate" value="{{ returndate }}">
    <table align="center" border="2">
        <th colspan="2">Enter your username and password to confirm your Booking</th>
        <tr>
            <td>Enter Your username:</td>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <td>Enter Your password:</td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" name="submit" value="BOOK"></td>
        </tr>
    </table>
</form>
{% endblock body %}