{%extends 'base1.html'%} {% load static %}
{%block title%}Login {%endblock title%}

{% block body%}
<head>
    <style>
body {
  background-image: url('/static/img/9.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:white;

}
.tab{
    transform: translateY(+150%)
}


    </style>


</head>

<form action="/customer_login/customerlogin/" method="post">{% csrf_token %}
    <div class="tab">

        <table border="2" align="center">
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Log In"></td>
            </tr>
        </table>
    </div>
</form>
{% endblock body%}