<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELETE ACCOUNT</title>
</head>
<body>
<form action="/customer_login/delete_customer/" method="post">{% csrf_token %}
    <label for="customerid">Employeeid:</label>
    <input type="number" name="customerid" value="" id="customerid">
    <br>
    <label for="customerusername">Employee Username:</label>
    <input type="text" name="customername" value="" id="customerusername">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>