{% extends 'base1.html'%}
{% block title %}DELETE ACCOUNT{% endblock title %}
{% block body %}


<head>
    <style>
body {
  background-image: url('/static/img/10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:yellow;
}




    </style>
</head>

<form action="/customer_login/delete_customer/" method="post">{% csrf_token %}
    <label for="customerid">Employeeid:</label>
    <input type="number" name="customerid" value="" id="customerid">
    <br>
    <label for="customerusername">Employee Username:</label>
    <input type="text" name="customername" value="" id="customerusername">
    <br>
    <input type="submit" value="Submit">
</form>


{% endblock body %}

