{% extends 'base1.html'%}
{% block title %}customer List{% endblock title %}
{% block body %}


<head>
    <style>
body {
  background-image: url('/static/img/10_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:yellow;
}

    </style>
</head>

{% if customer %}
<h1>The registered customers are:</h1><br>
{% for c in customer %}
<!--    <li>Customer id: {{ c.customer_id }}</li>-->
<table border="2">
    <tr>
        <td>Customer ID</td>
        <td>{{ c.customer_id }}</td>
    </tr>
    <tr>
        <td>Customer Username</td>
        <td>{{ c.customer_username }}</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>{{ c.customer_name }}</td>
    </tr>
    <tr>
        <td>Customer EmailID</td>
        <td>{{ c.customer_email }}</td>
    </tr>
    <tr>
        <td>Customer Contact Number</td>
        <td>{{ c.customer_phone_no }}</td>
    </tr>
    <tr>
        <td>Customer Aadhar Number</td>
        <td>{{ c.customer_aadhar_no }}</td>
    </tr>
    <tr>
        <td>Customer Address</td>
        <td>{{ c.customer_address }}</td>
    </tr>
    <tr>
        <td>Customer Date of Birth</td>
        <td>{{ c.customer_dob }}</td>
    </tr>
</table>
{% endfor %}
{% else %}
<h1>No customers are registered yet.</h1>
{% endif %}


{% endblock body %}