{%extends 'base4.html'%} {% load static %}
{%block title%}Home {%endblock title%}

{% block body%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
</head>
<body>
<form action="/employee_login/deleteemployee/" method="post" id="myform">{% csrf_token %}
    <label for="employeeid">Employeeid:</label>
    <input type="number" name="employeeid" value="" id="employeeid">
    <br>
    <label for="employeename">Employee Username:</label>
    <input type="text" name="employeename" value="" id="employeename">
    <br>
    <input type="submit" name="submit" value="Submit">
</form>
</body>
</html>
{% endblock body%}